<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fischhüttli Licht</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Fischhüttli Licht</h1>
        <div class="section editor">
            <label for="minutes">Minuten
                <input id="minutes" type="text" />
            </label>
            <br />
            <label for="passw">Passwort
                <input id="passw" type="text" />
            </label>
            <br />
            <br />
            <a class="waves-effect waves-light btn-large" width=40% id="ein">Ein</a>
            <br />
			<br />
            <a class="waves-effect waves-light red btn-large" id="aus">Aus</a>
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>