<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fischhüttli Licht</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Fischhüttli Licht</h1>
        <div class="section editor">
            <label>Minutes
            </label>
              <form name="registrationForm">
                <output name="minutesOutputName" id="minutesOutputId">3</output>
                <input type="range" name="minutesInputName" id="minutes" value="3" min="1" max="10" oninput="minutesOutputId.value = minutes.value">
             </form>
            <br />
            <label width=100% for="passw">Passwort
                <input id="passw" type="text" />
            </label>
            <br />
            <br />
            <a class="waves-effect waves-light btn-large" id="ein">Ein</a>
            &emsp;
            <a class="waves-effect waves-light btn-large" id="aus">Aus</a>
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>